@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* custom scroll bar */
html::-webkit-scrollbar {
  width: 0.2rem;
  background: transparent;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar-thumb {
  background: #2d2e37;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.mulish {
  font-family: "Mulish", sans-serif;
}

.content-container {
  max-width: 75rem;
}

.hero-image-container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 408px;
  height: 408px;
  overflow: hidden;
}

.hero-image-container::before {
  content: "";
  position: absolute;
  width: 350px;
  height: 160%;
  /* background: #000; */
  background-image: linear-gradient(
    0deg,
    rgb(121, 144, 150) 0%,
    rgb(74, 24, 28) 100%
  );
  animation: rotate 5s linear infinite;
}

@media (max-width: 768px) {
  .hero-image-container {
    width: 300px;
    height: 300px;
  }
  .hero-image-container::before {
    width: 250px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero-image {
  position: absolute;
  background-image: url("../../public/image/hero-picture.jpg");
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-attachment: cover;
  background-position: center;
  background-size: cover;
}

.about-image {
  background-image: url("../../public/image/hero-picture-3.jpg");
  background-repeat: no-repeat;
  background-attachment: cover;
  background-position: center;
  background-size: cover;
}

.project:hover {
  scale: 1.01;
  transition: ease-in all 0.3s;
  -webkit-transition: ease-in all 0.3s;
  -moz-transition: ease-in all 0.3s;
  -ms-transition: ease-in all 0.3s;
  -o-transition: ease-in all 0.3s;
}
